---
import type { GetStaticPaths } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";

import Main from "../../components/elements/Main.astro";

export const getStaticPaths = (async () => {
  const blogs = await getCollection("blog");
  const paths = blogs.map((blog) => {
    return {
      params: {
        slug: blog?.slug,
      },
      props: {
        blog,
      },
    };
  });
  return paths;
}) satisfies GetStaticPaths;

interface Props {
  blog: CollectionEntry<"blog">;
}

const { blog } = Astro.props;
let { title, description, keywords, date } = blog?.data;
const { Content } = await blog?.render();
const formattedDAte = new Date(date).toLocaleString("en-US", { dateStyle: "long" });
const metaUrl = new URL(
  "https://images.pexels.com/photos/4157123/pexels-photo-4157123.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
);

if (!title) title = "Somtochukwu";
if (!description)
  description =
    "Platform where I lay my thoughts, feelings, snips of my life, just things I'd love to share....";
if (!keywords)
  keywords =
    "Somtochukwu, somtodev, software developer, leroy, nnalue, developer, java, node, typescript";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#0a0a0a" />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="author" content="Somtochukwu L Nnalue" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="google" content="notranslate" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://somtodev.netlify.app" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={metaUrl} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://somtodev.netlify.app" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={metaUrl} />

    <meta property="og:site_name" content="Somtochukwu" />
    <meta property="og:site" content="Somtochukwu" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={metaUrl} />
    <meta property="og:url" content="https://somtodev.netlify.app" />

    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-background text-neutral-800 dark:bg-black">
    <Main>
      <a
        href={"/blog"}
        class="text-green-600 text-sm  dark:text-white"
        ><h6>Go Back</h6></a
      >
      <div class="my-3">
      <h1 class="text-3xl text-white">{title}</h1>
      <p class="text-sm text-opacity-60 text-white">{`${formattedDAte}`}</p>
      </div>
      <div
        class="text-emerald-950 prose-sm max-w-none dark:text-emerald-200 blog"
      >
        <Content />
      </div>
    </Main>
  </body>
</html>
