---
import { type Project } from "../types/index";
import Paragraph from "./elements/Paragraph.astro";
interface Props {
  project: Project;
}

const { project } = Astro.props;
const { name, description, image, github, url, status } = project;
---

<div>
  <div
    class="relative w-full border border-neutral-900 aspect-[1.5] overflow-hidden rounded-lg cursor-pointer"
  >
    <img
      src={`/projects/${image}`}
      class="w-full h-full hover:scale-125 object-cover object-center transition-all"
    />
    {
      status ? (
        <span class="absolute bg-neutral-500 text-neutral-200 rounded-sm text-xs px-[.3rem] py-[.24rem] top-0 right-0">
          {status}
        </span>
      ) : (
        ""
      )
    }
  </div>
  <div class="my-2 text-neutral-800 dark:text-white">
    <h3 class="text-sm">{name}</h3>
    <Paragraph class="text-xs line-clamp-2">{description}</Paragraph>
    <div class="flex justify-between my-auto">
      {
        url ? (
          <a
            rel="noreferrer"
            target="_blank"
            href={url}
            class="flex gap-2 items-center text-xs bg-emerald-800 cursor-pointer bg-opacity-40 rounded-sm px-[.4em] py-[.24em]"
          >
            Live
          </a>
        ) : (
          ""
        )
      }
      {
        github ? (
          <a
            rel="noreferrer"
            target="_blank"
            href={github}
            class="text-xs bg-emerald-800 cursor-pointer rounded-sm px-[.4em] py-[.24em]"
          >
            Repo
          </a>
        ) : (
          ""
        )
      }
    </div>
  </div>
</div>
